body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 0;
    background: rgb(3, 3, 3);
    background-repeat: no-repeat;
    background-size: cover;
}

.h1, .p {
    text-align: center;
    color: white;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: rgb(158, 223, 223);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
}

fieldset {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(7, 7, 7);
}

legend {
    font-weight: bold;
    color: white;
}

input, textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: black;
}

button {
    display: block;
    padding: 10px;
    background-color: rgb(46, 217, 239);
    color: black;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(134, 134, 226);
}

#resumeOutput {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}